

.menus {
  text-align: center;
}

.menu {
  width: 800px;
  margin: 50px auto;
}

.menus p {
  text-align: center;
  font-size: 140%;
  margin-bottom: 100px;
}


@media screen and (max-width: 599px) {
  .header-right a, .header-right p {
    font-size: 60%;
  }

  .header-right p {
    margin-right: 20px;
  }

  .fab {
    font-size: 60%;
  }

  .logo {
    width: 100px;
    height: 55px;
  }

  .sns a {
    margin: 10px 10px;
  }

  .nav li {
    margin: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 100%;
  }

  .menu {
    width: 320px;
    margin: 20px auto;
  }

  .menus p {
    font-size: 70%;
  }
}

/* i pad  */
@media screen and (min-width:768px) and ( max-width:1024px) {
  .menu {
    width: 600px;
    margin: 40px auto;
  }

  .menus p {
    font-size: 110%;
  }
}