/* リセットCSS */
body {
  font-family: serif;
  font-size: 14px;
  color: white;
  margin: 0 auto;
  background-color: black;
  /* background-color: white; */
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* header */
header {
  background-color: black; 
}

.header {
  display: flex;
}

.header-left {
  width: 60%;
  margin-left: 30%;
}

.header-right {
  color: white;
  padding-top: 1%;
  padding-right: 3%;
  width: 40%;
}

.header-right a {
  text-align: right;
  display: block;
  font-size: 95%;
  flex-wrap: nowrap;
}

.logo {
  width: 220px;
  height: 120px;
  margin: 20px auto 10px;
  display: block;
}

.navigation {
  background-color: black;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav li {
  margin: 10px 60px 10px 60px;
  font-weight: bold;
  font-size: 140%;
  
}

.nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
 
}

.nav a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.5);
  color: palevioletred;
}

.sns {
  display: flex;
  justify-content: flex-end;
}

.sns a {
  margin: 20px 20px;
  color: white;
}

.header-right p {
  text-align: right;
  margin-right: 50px;
}

.menus {
  text-align: center;
}

.menu {
  width: 800px;
  margin: 50px auto;
}

.menus p {
  text-align: center;
  font-size: 140%;
  margin-bottom: 100px;
}


@media screen and (max-width: 599px) {
  .header-right a, .header-right p {
    font-size: 60%;
  }

  .header-right p {
    margin-right: 20px;
  }

  .fab {
    font-size: 60%;
  }

  .logo {
    width: 100px;
    height: 55px;
  }

  .sns a {
    margin: 10px 10px;
  }

  .nav li {
    margin: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 100%;
  }

  .menu {
    width: 320px;
    margin: 20px auto;
  }

  .menus p {
    font-size: 70%;
  }
}

/* i pad  */
@media screen and (min-width:768px) and ( max-width:1024px) {
  .header-right a, .header-right p {
    font-size: 80%;
  }

  .fab {
    font-size: 80%;
  }

  .logo {
    width: 130px;
    height: 55px;
  }

  .nav li {
    font-size: 130%;
    margin: 10px 30px;
  }

  .menu {
    width: 600px;
    margin: 40px auto;
  }

  .menus p {
    font-size: 110%;
  }
}