/* リセットCSS */
body {
  font-family: serif;
  font-size: 14px;
  color: white;
  margin: 0 auto;
  background-color: black;
  /* background-color: white; */
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* header */
header {
  background-color: black; 
}

.header {
  display: flex;
}

.header-left {
  width: 60%;
  margin-left: 30%;
}

.header-right {
  color: white;
  padding-top: 1%;
  padding-right: 3%;
  width: 40%;
}

.header-right a {
  text-align: right;
  display: block;
  font-size: 95%;
  flex-wrap: nowrap;
}

/* .header-right h4 {
  font-size: 180%;
  text-align: right;
} */

.logo {
  width: 180px;
  height: 81px;
  margin: 20px auto 10px;
  display: block;
}

.navigation {
  background-color: black;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav li {
  margin: 10px 60px 10px 60px;
  font-weight: bold;
  font-size: 140%;
  
}

.nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
 
}

.nav a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.5);
  color: palevioletred;
}

.sns {
  display: flex;
  justify-content: flex-end;
}

.sns a {
  margin: 20px 20px;
  color: white;
}

.header-right p {
  text-align: right;
  margin-right: 50px;
}

/* syles */
.styles {
  width: 1050px;
  margin: 40px auto;
  text-align: center;
}

.explain-title {
  margin-bottom: 30px;
}

.explain {
  display: flex;
  width: 870px;
  margin: 20px auto;
  /* margin-left: 20%; */
}

.far {
  margin-top: 10px;
  margin-right: 10px;
}

.explain p, .far {
  font-size: 150%;
  text-align: left;
  display: block;
}

.ba-title, .style-title {
  height: 100px;
  margin: 60px auto;
}

.video {
  width: 250px;
  height: 350px;
  margin: 20px;
}

.style {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 599px) {
  .header-right a, .header-right p {
    font-size: 60%;
  }

  .header-right p {
    margin-right: 20px;
  }

  .fab {
    font-size: 60%;
  }

  .logo {
    width: 80px;
    height: 35px;
  }

  .sns a {
    margin: 10px 10px;
  }

  .nav li {
    margin: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 80%;
  }

  .styles {
    width: 350px;
    margin: 10px auto;
  }

  .style-title {
    margin: 20px auto;
  }
  
  .explain-title {
    font-size: 80%;
  }

  .explain {
    width: 300px;
    margin: 10px auto;
  }
  
  .far {
    margin-top: 2px;
    margin-right: 5px;
  }

  .explain-title {
    margin-left: initial;
  }

  .explain p, .far {
    font-size: 60%;
  }
  
  .style-title {
    height: 35px;
    width: 80px;
  }

  .ba-title {
    width: 120px;
    height: 35px;
  }

  .ba-title, .style-title {
    margin: 20px auto;
  }
  
  .video {
    width: 100px;
    height: 180px;
    margin: 0 20px;
  }
}

/* i pad  */
@media screen and (min-width:768px) and ( max-width:1024px) {
  .header-right a, .header-right p {
    font-size: 80%;
  }

  .fab {
    font-size: 80%;
  }

  .logo {
    width: 130px;
    height: 55px;
  }

  .nav li {
    margin: 10px 30px;
    font-weight: bold;
    font-size: 130%;
  }

  .styles {
    width: 650px;
    margin: 20px auto;
  }

  .style-title {
    margin: 20px auto;
  }
  
  .explain-title {
    font-size: 100%;
  }

  .explain {
    width: 600px;
    margin: 20px auto;
  }
  
  .far {
    margin-top: 4px;
    margin-right: 10px;
  }

  .explain-title {
    margin-left: initial;
  }

  .explain p, .far {
    font-size: 80%;
  }
  
  .style-title {
    height: 55px;
    width: 130px;
  }

  .ba-title {
    width: 200px;
    height: 75px;
  }

  .ba-title, .style-title {
    margin: 20px auto;
  }
  
  .video {
    width: 170px;
    height: 230px;
    margin: 0 20px;
  }
}
